/* Fonts */
/*
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
*/
/* Fonts */
@import url("https://fonts.googleapis.com/css2?&family=Nunito:wght@300;400;700;800;900;1000&display=swap");

@import "styles.css";
@import "variables.css";
@import "reset.css";

/* Screens */
@import "screens/login.css";
@import "screens/qrcode.css";
@import "screens/friends.css";
@import "screens/music.css";
@import "screens/musicplay.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "screens/logout.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/scrren-header.css";
@import "components/user-components.css ";
@import "components/badge.css";
@import "components/dot.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

body {
  background-color: rgba(5, 5, 5, 1);
  height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  box-sizing: border-box;
  overflow-x: scroll;
  background: linear-gradient(to bottom, black, rgba(20, 20, 20, 1));
}
