:root {
  --hyper-lemon: rgb(245, 255, 0);
  --horizontal-space: 25px;
  --main-border: 1px solid #8b95a0;
  --gray: rgb(191, 191, 191);

}

.settings__link {
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}
