.screen2 {
  width: 100%;
  height: 85%;
  overflow-x: scroll;
}

.logo-box {
  display: flex;
  justify-content: center;
}

.logo-box__field {
  display: block;
  margin: 0px var(--horizontal-space);
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  margin-bottom: 15px;
  border-radius: 10px;
}

#friends-display-link {
  background-color: whitesmoke;
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

#friends-display-link img {
  background-size: contain;
  width: 100%;
  height: 70px;
  padding: 10px 0px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  height: 100%;
  margin-top: 15px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 18px;
}

.friends-screen__channel-header span {
  font-weight: 700;
  color: whitesmoke;
}

.friends-screen__channel-header__artist span {
  font-weight: 700;
}

.friends-screen__channel-header i {
  cursor: pointer;
}

.friends-screen__channel-header__cafe span {
  font-weight: 700;
}

@keyframes hideSplashScreen {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: none;
    visibility: hidden;
  }
}

#splash-screen img {
  width: 250px;
  height: 200px;
}

#splash-screen {
  background-color: #f7f7f7;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  animation: hideSplashScreen 1s ease-in-out forwards;
  animation-delay: 1s;
}
