.main-screen {
  padding: 0px var(--horizontal-space);
}

.login-bg {
  background-color: white;
  color: black;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo__field {
  margin-top: 80px;
  margin-bottom: 40px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__field img {
  width: 350px;
  height: 175px;
}
.login-field {
  display: flex;
  width: 100%;
}

.login-box {
  margin: 0px 25px;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  border: 3px solid rgba(191, 191, 191, 0.4);
  border-radius: 8px;
}

.login-box:hover {
  border: 3px solid black;
  transition: border-color 0.5s ease-in-out;
}

.id-box {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.id-box__field {
  width: 100%;
  display: flex;
}

.id-box__icon {
  display: flex;
  align-items: center;
}

.id-box__id {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.id-box__id input {
  margin-left: 10px;
  padding: 15px 0px;
  background-color: white;
  border: none;
  border-bottom: 3px solid rgba(191, 191, 191, 0.5);
}

.id-box__id input:focus {
  border-bottom: 3px solid black;
}

#login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  width: 100%;
  font-size: 20px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid black(0, 0, 0, 1);
  transition: border-color 0.5s ease-in-out;
}

.login-detail {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.login-detail__field1 {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

input[type="checkbox"] + label:before {
  content: "✔";
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  display: inline-block;
  width: 20px;
  height: 20px;
  color: var(--gray);
  border: 2px solid var(--gray);
  border-radius: 50%;
  vertical-align: middle;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before {
  content: "✔";
  background-color: var(--hyper-lemon);
  border-color: black;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  color: black;
}

.login-detail1 {
  display: flex;
  align-items: center;
}

.login-checkbox {
  margin: 0px 5px;
}

.login-detail-1 span {
  opacity: 0.7;
  margin-bottom: 2px;
}

#login-form input[value="HYBE 로그인"] {
  width: 100%;
  background-color: rgba(245, 255, 0, 0.5);
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 0px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 25px;
}

#login-form input[value="HYBE 로그인"]:hover {
  background-color: rgb(245, 255, 0, 1);
  transition: background-color 0.5s ease-in-out;
}

.login__qr {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 0px;
  padding-top: 15px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 25px;
}

.login__qr:hover {
  background-color: rgba(0, 0, 0, 1);
  transition: background-color 0.5s ease-in-out;
}

.login__qr__field {
  color: white;
  display: flex;
  align-items: center;
}

.login__qr__field__title {
  color: white;
  margin-left: 5px;
  margin-bottom: 8px;
}

.login-subtitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.login-subtitle-1,
.login-subtitle-2 {
  opacity: 0.5;
}

.login-subtitle-1:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.login-subtitle-2:hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.login-subtitle i {
  margin-right: 3px;
}

#login-form a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: black;
}

.screen-footer img {
  background-color: white;
  width: 70px;
  height: 20px;
  margin: 70px 10px;
}

.screen-footer__copy {
  display: flex;
  justify-content: center;
  align-items: center;
}
