/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/* Screens */
@import "screens/reset.css";
@import "screens/variables.css";
@import "screens/styles.css";
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/scrren-header.css";
@import "components/user-components.css ";
@import "components/badge.css";
@import "components/dot.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css  ";

body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
