/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/* Screens */
@import "/css/screens/reset.css";
@import "/css/screens/variables.css";
@import "/css/screens/styles.css";
@import "/css/screens/friends.css";
@import "/css/screens/find.css";
@import "/css/screens/more.css";

/* Components */
@import "/css/components/status-bar.css";
@import "/css/components/nav-bar.css";
@import "/css/components/scrren-header.css";
@import "/css/components/user-components.css ";
@import "/css/components/badge.css";
@import "/css/components/dot.css";
@import "/css/components/icon-row.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 600;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 30px;
  border: none;
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  cursor: pointer;
  margin-bottom: 13px;
  padding: 15px 0px;
  border-radius: 5px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input[value="Sign Up"] {
  background-color: var(--yellow);
  cursor: pointer;
  margin-bottom: 13px;
  padding: 15px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  font-weight: 600;
}
