.badge {
  background-color: var(--hyper-lemon);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.gear__dot {
  background-color: var(--hyper-lemon);
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
