.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: bold;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

.screen-header__icons .fa-magnifying-glass:hover {
  cursor: pointer;
  will-change: transform;
  animation: scaleGlass 1s ease-in-out infinite;
}

@keyframes scaleGlass {
  0% {
    transform: none;
  }

  66% {
    transform: scale(1.2);
  }

  100% {
    transform: none;
  }
}

.screen-header__icons .fa-music:hover {
  cursor: pointer;
  will-change: transform;
  animation: pingpongMusic 1s ease-in-out infinite;
}

@keyframes pingpongMusic {
  0% {
    transform: none;
  }
  75% {
    transform: translateY(-7px);
  }

  100% {
    transform: none;
  }
}

@keyframes rotateGear {
  from {
  }

  to {
    transform: rotatez(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateGear 2s linear infinite;
}
